[Unit]
Description=Albatross daemon socket
PartOf=albatross_daemon.service

[Socket]
ListenStream=%t/albatross/util/vmmd.sock
SocketGroup=albatross
SocketMode=0660
Accept=no

[Install]
WantedBy=sockets.target
