[Unit]
# To configure this service, please use the following command
# to create an override configuration:
# systemctl edit albatross_stats.service
Description=Albatross stats daemon (albatross-stats)
Requires=albatross_daemon.socket albatross_stats.socket
After=syslog.target albatross_daemon.service

[Service]
Type=simple
User=albatross
Group=albatross
ExecStart=/usr/libexec/albatross/albatross-stats --systemd-socket-activation --tmpdir="%t/albatross/" -vv
RuntimeDirectoryPreserve=yes
RuntimeDirectory=albatross albatross/util
PIDFile=%t/albatross/stat.pid
RestrictAddressFamilies=AF_UNIX AF_NETLINK

[Install]
Also=albatross_stats.socket
WantedBy=multi-user.target
