[Unit]
Description=Albatross daemon socket
PartOf=albatross_daemon.service

[Socket]
ListenStream=%t/albatross/util/vmmd.sock
SocketMode=0600
Accept=no

[Install]
WantedBy=sockets.target
