[Unit]
# To configure this service, please use the following command
# to create an override configuration:
# systemctl edit albatross_console.service
Description=Albatross console daemon (albatross-console)
Requires=albatross_console.socket
After=syslog.target

[Service]
Type=simple
User=albatross
Group=albatross
ExecStart=/usr/libexec/albatross/albatross-console --systemd-socket-activation --tmpdir="%t/albatross/" -vv
PIDFile=%t/albatross/console.pid
RestrictAddressFamilies=AF_UNIX

[Install]
Also=albatross_console.socket
WantedBy=multi-user.target
