[Unit]
Description=Albatross stats socket
PartOf=albatross_stats.service

[Socket]
ListenStream=%t/albatross/util/stat.sock
SocketUser=albatross
SocketMode=0600
Accept=no

[Install]
WantedBy=sockets.target
