[Unit]
# To configure this service, please use the following command
# to create an override configuration:
# systemctl edit albatross_log.service
Description=Albatross log daemon (albatross_log)
After=syslog.target albatross_console.service
Requires=albatross_console.service

[Service]
Type=simple
User=albatross
AssertPathExists=/var/lib/albatross/albatross.log
ExecStart=/usr/local/sbin/albatross-log --logfile="/var/lib/albatross/albatross.log" --tmpdir="%t/albatross/" -vv
RuntimeDirectory=albatross albatross/util
#RuntimeDirectoryPreserve=yes # avoid albatross.log being cleaned up
PIDFile=%t/albatross/log.pid
RestrictAddressFamilies=AF_UNIX

[Install]
Also=albatross_log.socket
WantedBy=multi-user.target
