[Unit]
# To configure this service, please use the following command
# to create an override configuration:
# systemctl edit albatross_console.service
Description=Albatross console daemon (albatross_console)
Requires=albatross_console.socket
After=syslog.target

[Service]
Type=simple
User=albatross
ExecStart=/usr/local/sbin/albatross-console --systemd-socket-activation --tmpdir="%t/albatross/" -vv
RuntimeDirectoryPreserve=yes
RuntimeDirectory=albatross
ExecStartPre=/bin/mkdir -p %t/albatross/fifo
ExecStartPre=/bin/chmod 2770 %t/albatross/fifo
ExecStartPre=/bin/mkdir -p %t/albatross/util
PIDFile=%t/albatross/console.pid
RestrictAddressFamilies=AF_UNIX

[Install]
Also=albatross_console.socket
WantedBy=multi-user.target
