[Unit]
Description=Albatross VMM daemon (albatrossd)
Requires=albatross_console.socket albatross_daemon.socket
After=syslog.target albatross_console.service

[Service]
Type=simple
# TODO not necessarily needs to be run as root, anything that can solo5-spt/hvt,
#  create tap interfaces should be fine!
User=root
ExecStart=/usr/local/sbin/albatrossd --systemd-socket-activation --tmpdir="%t/albatross/" -vv
#RuntimeDirectoryPreserve=yes
#RuntimeDirectory=albatross
PIDFile=%t/albatross/daemon.pid

## hardening stuff
ProtectSystem=full
ProtectHome=true
#UMask=0077
OOMScoreAdjust=-1000
#AppArmorProfile=
#SmackProcessLabel=albatross_vmm
IgnoreSIGPIPE=true
#SystemCallFilter=~reboot
#SystemCallFilter=
#RestrictAddressFamilies=AF_UNIX
#RuntimeDirectoryMode=0700

[Install]
Also=albatross_daemon.socket
WantedBy=multi-user.target
